@{ 
    ViewData["Title"] = "About";
}

<h1>About</h1>

<h2>CV Tero Viitala</h2>

<section>
    <h3>IT-KUNSKAPER</h3>
    <div>
        <h4>Mjukvara:</h4>
        <p>Programspråk: .NET/C#, React, Node.js, JAVA, Python, GO</p>
        <p>IT-verktyg: Visual Studio, Visual Studio Code</p>
        <p>Webb: HTML, CSS, JavaScript</p>
    </div>
</section>

<section>
    <h3>UTBILDNING</h3>
    <div>
        <h4>2021 - Pågående IT-påbyggnadsnivå Programmering .NET Lexicon Yrkesutbildning i Väst</h4>
        <h4>Kursinnehåll:</h4>
        <ul>
            <li>Programmering .NET</li>
            <li>HTML, CSS, JavaScript</li>
            <li>Databas</li>
            <li>Azure</li>
            <li>Applikationsutveckling</li>
            <li>Arbetsplatsförlagt lärande</li>
        </ul>
    </div>

    <div>
        <h4>2019 - 2021 Webbutvecklare .NET Campus Värnamo</h4>
        <h4>Kursinnehåll:</h4>
        <ul>
            <li>Objektorienterad programmering med C#</li>
            <li>Dynamiska webbsystem</li>
            <li>Moderna webbapplikationer</li>
            <li>Realtidskommunikation</li>
            <li>Lärande i arbete 1 och 2</li>
        </ul>
    </div>

    <div>
        <h4>2007 - 2016 Produktutveckling och Material Tekniska Högskolan i Jönköping</h4>
        <ul>
            <li>Produktutveckling</li>
            <li>Materialteknik</li>
            <li>Avancerade datorverktyg inom konstruktion och beräkning</li>
        </ul>
    </div>

    <div>
        <h4>2004 - 2007 Maskiningenjör Högskolan i Skövde</h4>
        <ul>
            <li>Kosntruktionsteknik</li>
            <li>Hållfasthetslära</li>
            <li>Mekanik</li>
            <li>Konstruktionsmaterial</li>
            <li>FEM (Finita Element Metoden)</li>
        </ul>
    </div>
</section>

<section>
    <h3>ARBETSLIVSERFARENHET</h3>
    <div>
        <h4>Ingenjör konstruktion och beräkning</h4>
        <p>Arbetat med att producera ritningar och med att utföra beräkningar på armerade betongkonstruktioner till byggnadsindustrin.</p>
    </div>

    <div>
        <h4>Beräkningsingenjör</h4>
        <p>Arbetat med att utföra beräkningar på stålkonstruktioner för offshoreindustrin som motstår miljöbelastningar, 
        exempelvis utmattning, och belastningar i form av olycksfall i form av explosioner och jordbävningar. Termiska analyser.
        </p>
    </div>
</section>

<section>
    <h3>SPRÅK</h3>
    <div>
        <p>Finska: Modersmål</p>
        <p>Svenska: Mycket goda kunskaper i tal och skift</p>
        <p>Engelska: Goda kunskaper i tal och skrift</p>
    </div>
</section>

<section>
    <h3>ÖVRIGA MERITER</h3>
    <div>
        <ul>
            <li>Körkort B</li>
            <li>HT Coach, Coaching</li>
            <li>HIC Copywriting</li>
            <li>HTC Closing</li>
        </ul>
    </div>
</section>