@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

<section>
    <h4>Tero Viitala</h4>
    <div>
        <p>Telefon: +4792355620</p>
        <p>Epost: tero.viitala@live.se</p>
        <p>LinkeIn: <a href="https://www.linkedin.com/in/tero-johannes-viitala-54573211a/">LinkedIn Tero Viitala</a></p>
    </div>
</section>
