@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<section>
    <div>
        <ul>
            <li><a href="https://github.com/treox/Calculator">Calculator: Konsolapplikation som kan utföra vissa beräkningar</a></li>
            <li><a href="https://github.com/treox/Hangman">Hangman: Spelet hangman gjord som en konsolapplikation</a></li>
            <li><a href="https://github.com/treox/VendingMachine">Vendingmachine: Vendingmachine gjord som en konsolapplikation</a></li>
            <li><a href="https://github.com/treox/Sokoban">Sokoban: Spelet sokoban gjord med JavaScript</a></li>
        </ul>
    </div>
</section>
